@font-face {
  font-family: 'Univers';
  src: url('/fonts/UniversLTStd.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('/fonts/UniversLTStd-Obl.woff2') format('woff2');
  font-style: oblique;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('/fonts/UniversLTStd-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('/fonts/UniversLTStd-BoldObl.woff2') format('woff2');
  font-style: oblique;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('/fonts/UniversBlack.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('/fonts/Univers-black-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  font-family: 'Univers';
  font-size: 1.5em;
}

em {
  font-weight: 700;
}

a {
  color: firebrick;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 60px 0 80px;
  background: #fff;
}

header a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
}

header h1,
header h2 {
  margin: 0;
}

header span {
  line-height: 1em;
}

header span:first-child {
  font-size: 0.8em;
  font-weight: 400;
}

header span:last-child {
  color: firebrick;
  font-size: 1.3em;
  font-weight: 900;
}

header h2 {
  font-size: 1em;
  font-weight: 400;
}

footer {
  margin-top: auto;
  padding: 30px;
  text-align: center;
  background: #111;
  color: #bbb;
  font-size: 0.7em;
}

.page-content {
  width: min(100%, 1600px);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px 80px;
  background: #fff;
  position: relative;
}

@media screen and (min-width: 768px) {
  body {
    background: #e9e9e9;
  }
}

@media screen and (min-width: 600px) {
  header span:first-child {
    font-size: 1em;
  }

  header span:last-child {
    font-size: 1.5em;
  }

  header h2 {
    font-size: 1.2em;
  }

  footer {
    font-size: 1em;
  }

  .not-found {
    min-height: 49vh;
  }
}
